body {
    font-family: 'Arial', sans-serif;
    background-color:black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#story-container {
    width: 60%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

#story-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

#choices {
    display: flex;
    justify-content: center;
}

.choice-button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.choice-button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}
